doctype html 
html
    head 
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0') 
        link(rel='stylesheet', href='/index.css')
        link(rel='shortcut icon', href='img/favicon.png', type='image/png')
        title Tackle

    body 
        header 
            nav.nav--bar 
                li
                    a.nav--link(href="#") all task
                li 
                    form.sorting(action="")
                        select.sort(name="sort") 
                            option.sort-opt(value="sort-by")
                                a.sort-opt(href='#')   sort by  
                            option.sort-opt(value="sort-by")
                                a.sort-opt(href='#')   pending 
                            option.sort-opt(value="sort-by")
                                a.sort-opt(href='#')   completed 
                            option.sort-opt(value="sort-by")
                                a.sort-opt(href='#')   deleted             
                li 
                    a.nav--link(href="#") stats  
                li 
                    a.nav--link(href="#") logout 
                li 
                    img.user-profile(src='/img/TackleDefaultPics.png' alt='user profile')

        block content