<!DOCTYPE html >
<html>
  <head> 
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/index.css"/>
    <link rel="stylesheet" href="/mediaQ.css">
    <link rel="shortcut icon" href="img/favicon.png" type="image/png"/>
    <title>Tackle</title>
  </head>
  <body class="intro-body"> 
  <div class="intro--child-container">
    <div class="intro"> 
      <h1 class="intro-heading">Your Ultimate Task Management Solution</h1>
      <p class="intro--p"> Welcome to Tackle, your gateway to effortless productivity and streamlined task management. In the fast-paced world we live in, staying organized and on top of your to-do list is more critical than ever. Tackle is here to empower you by offering a dynamic and intuitive platform that simplifies the way you manage your tasks. Whether you're a busy professional, a diligent student, or someone seeking to regain control over their daily routines, Tackle has been meticulously designed to cater to your unique needs. With its user-friendly interface, robust features, and a commitment to efficiency, Tackle is your partner in conquering the chaos of your daily life. Say goodbye to missed deadlines and hello to a more organized, stress-free future with Tackle.</p>
      <p class="intro--p footer--hidden"> Welcome to Tackle, your gateway to effortless productivity and streamlined task management. Say goodbye to missed deadlines and hello to a more organized, stress-free future with Tackle.</p>
      <a class="intro--link" href="/signUp">get started </a>
    </div>
    <footer class="intro--footer"> 
      <p class="intro--footer-p">&copy; 2023 Tackle. All right reserved<a class="footer--link">  || DevCosmas</a></p>
    </footer>
  </div>
  </body>
</html>