extends _header
block content 
    .search-container 
        .search-child 
            span.status.pending pending 
            span.search-details.content learn java 
            span.content.date april 21 2023