doctype html 
html
    head 
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0') 
        link(rel='stylesheet', href='/index.css')
        link(rel='shortcut icon', href='img/favicon.png', type='image/png')
        title Tackle
    body.intro-body 
        .intro.login-intro 
            form.login(action="")
                input.login-username.login-cta(type="text" placeholder='fullname') 
                input.login-username.login-cta(type="email" placeholder='email') 
                input.login-username.login-cta(type="password" placeholder='password') 
                input.login-username.login-cta(type="password" placeholder='confirm password') 
                button.login-submit.login-cta submit 
                p.login-p already have an account?
                    |   
                    a.login-link(href="#")  login 


